


/* 15/11/2021 digital section */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	min-height: 100vh;
	background: linear-gradient(#2b1055,#7597de);
}
/* Header */
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
header .logo{
	/* margin-top: 90px; */
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
header .logo:hover,
header .logo:active{
	color: #f109d2;
}


header ul{
	/* margin-top: 90px; */
	display: flex;
	justify-content: center;
	align-items: center;
	
}
header ul li{
	list-style: none;
	margin-left: 20px;
}
header ul li a{
	text-decoration: none;
    padding: 6px 15px;
	color: #fff;
	font-size: 1.5em;
	
}
header ul li a:hover,
header ul li a:active{
	background: #fff;
	color: #2b1055;
	border-radius: 20px;
}
/* section */
section{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
section img#moon{
	mix-blend-mode: screen;
}
#text{
	position: absolute;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	font-size: 4.5vw;
	
	/* font-size: 1.5em; */
	z-index: 9;
	transform: translateY(40px);
}
#text:hover{
	color: #f5f104;
	box-shadow: inset 5px 5px 15px rgba(0,0,0,0.15), inset -5px -5px 15px rgba(255,255,255,0.15),
	5px 5px 15px rgba(190, 6, 6, 0.15), -5px -5px 15px rgba(255,255,255,0.15) ;
	margin: 40px;
}
#btn{
	text-decoration: none;
	align-items: center;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 30px;
	background: rgb(209, 16, 16);
	color: #e5e2eb;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);
	box-shadow: inset 5px 5px 15px rgba(0,0,0,0.15), inset -5px -5px 15px rgba(255,255,255,0.15),
	5px 5px 15px rgba(0,0,0,0.15), -5px -5px 15px rgba(255,255,255,0.15);
	cursor: pointer;	
}
#btn:hover,
#btn:active{
	background: #fff;
	color: #2b1055;
	box-shadow: -30px 30px 50px rgba(0,0,0,0.25);
	font-weight: bold;
}








